.icons{
    background: none;
    border: none;
    margin: 0px !important;
    color: white;
} 
.logo{
    width: 60px;
    height: 60px;
}
.bg-light{
    background: black !important;
}
.d-flex{
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand{
    color: white !important;
    display: flex;
}
.navbar{
    padding: 0px !important;
}
.me-2{
    height: fit-content;
}
.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: -31px;
}
.email-number{
    color:gold;
    display: flex;
    justify-content: end;
}
.nav-email{
    margin-left: 10px;
    margin-bottom: 0px !important;
}